.login-wrap{
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.login-form {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}